.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.headerContent {
    font-family: Orbitron;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    height: 62px;
    margin-top: 20px;
}

.logoContainer img {
    margin-right: 222px;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    width: 535px;
    margin-right: 167px;
}

.menuContainer a {
    cursor: pointer;
    color: white;
}

.chartContainer {
    display: flex;
    align-items: flex-start;
}

.chartContainer .chart {
    width: 32px;
    height: 32px;
}

.chartContainer .chartRound {
    width: 9px;
    height: 18px;
    position: absolute;
    margin-top: 20px;
}

.chartAndButton {
    display: flex;
    align-items: center;
    width: 250px;
    height: 62px;
    gap: 15px;
}

button {
    background-color: #57B8FF;
    width: 178px;
    height: 62px;
    border: 1px solid #FFF;
    padding: 16px 31px;
    color: white;

}

.mobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: white;
}

@media screen and (max-width: 768px) {
    .headerContent {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .logoContainer img {
        margin-right: 0;
    }

    .menuContainer {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        width: auto;
        gap: 20px;
        margin-bottom: 10px;



        font-size: 16px;   }

    .chartAndButton {
        flex-direction: column;
        align-items: center;
    }

    button {
        font-size: 18px;  /* Change this to the desired desktop font size */
        width: 200px;
        padding: 16px 31px;  /* Revert the padding to the desktop version */
        margin-bottom: 0;
    }
}
